@import "_src/variable";
.tab{
  &__header{
    margin: 32px auto;
  }
  &__title{
    font-size: 24px;
    padding: 4px 10px;
    margin: 0 13px;
    color: $brown;
    &.active{
      background: $brown;
      color: white;
      pointer-events: none;
      &:hover{
        background: $brown;
      }
    }
    &:hover{
      background: $brown300;
    }
  }
  &__wrapper{
    width: 100%;
    height: 410px;
    margin: 0 0 50px 0;
  }
  &__item{
    width: 100%;
    display: none;
    &.active{
      display: inline-block;
    }
  }
}
