@import "_src/variable";

.filter {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.products {
  display: flex;
  width: 100%;
  justify-content: space-between;

  &__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row wrap;
  }
}

.product {
  width: 290px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  transition: all 200ms ease-in;
  box-sizing: border-box;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  margin: 10px 0;
  padding-bottom: 10px;
  position: relative;
  &__img {
    width: 100%;
    transition: all 200ms ease-in;
  }
  &__main {
    padding: 0 18px;
    text-align: left;
  }

  &__name {
    font-size: 24px;
    margin: 15px 0;
  }

  &__price {
    font-size: 24px;
  }

  .basket-add {
    opacity: 0;
    background: white;
    width: 290px;
    margin: auto;
    transition: opacity 200ms ease-in;
    position: absolute;
    bottom: -67px;
    left: -3px;
    z-index: 1;
    border-bottom: 3px solid #EEEEEE;
    border-right: 3px solid #EEEEEE;
    border-left: 3px solid #EEEEEE;
    box-sizing: border-box;
    .button {
      font-weight: bold;
      font-size: 24px;
      background: #EEEEEE;
      text-transform: uppercase;
      margin: 10px 0;

      &:hover {
        background: $brown300;
      }
    }

    &__link {
      margin: 0 auto;
    }
  }

  &:hover {
    border-color: #EEEEEE;
    .basket-add {
      opacity: 1;
    }
    .product__img{
      //transform: scale(1.05);
    }
  }
}

.color {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;

  &__text {
    margin: 2px 0;
    font-size: 18px;
  }

  &__wrap {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
    transition: all 300ms ease-in;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);

    &--blue {
      background: #7DB2DE;
    }

    &--white {
      background: white;
    }

    &--red {
      background: red;
    }

    &--orange {
      background: orange;
    }

    &-active, &:hover {
      border: 1px solid #462126;
      box-shadow: none;
    }
  }

}
