@import "_src/variable";
.footer-top{
  border-bottom: 1px solid $brown200;
  &__wrap{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 130px 0;
  }
  &__title{
    margin-bottom: 15px;
  }
  &__right{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__item{
    display: flex;
    flex-direction: column;
  }
  &__link, &__text{
    margin-bottom: 10px;
  }
  .phone-link{
    padding: 0 15px;
  }
}
.footer-bottom{

}
.footer-nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 60px 0;
  &__item{
    display: flex;
    flex-direction: column;
    width: 25%;
  }
  &__link{
    display: inline;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    margin: 4px 0;
    transition: 350ms ease-in all;
    &:hover{
      text-decoration: underline;
    }
    &--bold{
      font-weight: bold;
    }
  }
  .pay-wrap{
    h4{
      margin: 4px 0;
    }
    margin-bottom: 20px;
    &__item{
      display: flex;
      align-items: center;
      flex-flow: wrap;
      img{
        width: 80px;
        margin: 4px;
      }
    }

  }
}
.copyright{
  font-size: 12px;
  line-height: 16px;
  color: $brown50;
}
