@import "_src/variable";

.slider{
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 10px;
  img{
    width: 100%;
    min-height: 400px;
  }
  .swiper-button{
    position: absolute;
    z-index: 2;
  }
  .swiper-button-next{
    top: 50%;
    margin-top: -3em;
    right: 0;
    color: white;
  }
  .swiper-button-prev{
    left: 0;
    top: 50%;
    margin-top: -3em;
    color: white;
  }
  i{
    font-size: 6em;
    color: $brown;
  }
}
.swiper-slide{
  position: relative;
  display: inline-grid;
  &__title{
    text-transform: uppercase;
    position: absolute;
    transform: translate(0px, 130px);
    width: 400px;
    color:white;
    font-size: 36px;
    line-height: 47px;
    font-weight: bold;
    padding: 25px 50px;
    text-shadow: 0px 4px 8px rgba(70, 33, 38, 0.3);
  }
  .btn-link-promo{
    font-size: 24px;
    color: white;
    margin: 0 auto;
    position: absolute;
    bottom: 60px;
    padding: 4px 12px;
    transition: 350ms ease-in all;
    width: 80%;
    left: 10%;
    text-shadow: 0px 4px 8px rgba(70, 33, 38, 0.3);
  }
  &:hover{
    .btn-link{
      color: $brown;
      background: $grey;
    }
    .btn-link-promo{
        background: #EEEEEE;
        color: black;
    }
  }

}
.slider-promo{
  margin: 30px 0;
}
.swiper-pagination-wrap{
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.swiper-pagination {
  display: inline-block;
  margin: 0 auto;
}
.t-ScrollBar__item {
  display: inline-block;
  margin-right: 8px;
  width: 8px;
  height: 8px;
  box-shadow: 0 0 0 0.1rem $brown inset;
  border-radius: 50% !important;
  border: none;
  background: #FFF;
  transition: background ease 0.2s;
  cursor: pointer;
}
.t-ScrollBar__item.is-active {
  background: $brown;
}
