@import "_src/variable";
.header{
  text-align: center;
  box-sizing: border-box;
  color: $brown;
  a {
      &:hover{
        .icon{
          transition: 10ms ease-in all;
          animation-name: link;
          animation-duration: 0.3s, 2s;
          animation-iteration-count: 3;
        }
      }
  }
}
@keyframes link {
  0% {
    transform: rotate(10deg);
  }
  25%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(-10deg);
  }
  75%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(10deg);
  }
}
.header-top{
  background: $brown100;
  width: 100%;
  &__wrap{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    color: $brown;
    margin-right: 40px;
    &:last-child{
      margin-right: 0;
    }
    .icon{
      color: $brown;
      margin-right: 5px;
    }
  }
  &__right{
    display: flex;
    align-items: center;
  }
  &__left{
    display: flex;
    align-items: center;
  }
}
.header-main{
  display: flex;
  width: 100%;
  justify-content: space-between;
  &__left{
    display: flex;
    margin-top: 25px;
    align-items: center;
    margin-right: 25px;
    min-width: 40%;
  }
  &__right{
    display: flex;
    align-items: center;
    margin-top: 25px;
    min-width: 40%;
    justify-content: flex-end;
  }
  &__item {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    color: $brown;
    margin-right: 60px;
    transition: 250ms ease-in all;
    .icon{
      color: $brown;
      margin-right: 5px;
      display: inline-flex;
    }
    &.phone-link{
      margin-right: 16px;
      &:hover{
        border-bottom: 1px solid $brown;
      }
    }
    &.phone-call{
      margin-right: 16px;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}

@media (max-width: 1024px) {
  .header-main{
    display: flex;
    width: 100%;
    justify-content: space-between;
    &__left{
      display: flex;
      margin-top: 25px;
      align-items: center;
      margin-right: 25px;
    }
    &__right{
      display: flex;
      align-items: center;
      margin-top: 25px;
    }
    &__item {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 18px;
      color: $brown;
      margin-right: 60px;
      .icon{
        color: $brown;
        margin-right: 5px;
        display: inline-flex;
      }
      &.phone-link{
        margin-right: 16px;
      }
      &.phone-call{
        margin-right: 16px;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }

}
