@import "_src/variable";
.nav-wrap{
  padding: 0 10px;
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $brown300;
  border-bottom: 1px solid $brown300;
  position: relative;
  transition: 450ms ease-in all;
  margin: 0 10px;
  .nav-list{
    display: none;
    opacity: 0;
    position: absolute;
    top: 53px;
    width: 100%;
    background: white;
    padding: 18px 0 20px;
    justify-content: space-between;
    transition: 10ms ease-in all;
    border-bottom: 1px solid $brown300;
    z-index: 9999;
    &__wrap{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__link{
      text-transform: uppercase;
      font-size: 18px;
      line-height: 23px;
      margin: 8px 0 6px;
      text-decoration: none;
      transition: 350ms ease-in all;
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      &:hover{
        border-bottom: 1px solid $brown;
      }
      &--small{
        margin: 4px 0;
        text-transform: none;
        font-size: 16px;
      }
    }
  }
  &__item{
    display: contents;
    width: inherit;
    &:hover{
      .nav-list{
        display: flex;
        opacity: 0.95;
      }
    }
  }
  &__link{
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 400;
    padding: 21px 30px;
    text-decoration: none;
    white-space: nowrap;
    line-height: 10px;
    width: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    &.active{
      background: $brown300;
      text-decoration: none;
      &:hover{
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        text-decoration: none;
        color: $brown;
      }
    }
    &:hover{
      border-bottom: 1px solid $brown50;
      text-decoration: none;
      color: $brown50;
    }
  }

}
