html {
  font: 15px 'PT Sans', sans-serif;
  color: $brown;
  font-weight: 400;

}
*{
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  position: relative;
}
main{
  text-align: center;
}
h1,h2,h3 {
  padding: 0;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
h1{
  margin: 25px 0;
}
h2{
  margin: 20px 0;
}
a{
  text-decoration: none;
  font: 15px 'PT Sans', sans-serif;
  color: $brown;
  font-weight: 400;
  transition: 350ms ease-in all;
}
button{
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  font-family: "PT Sans";
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
}
.icon {
  display: inline-flex;
  width: 1em;
  height: 1em;
  fill: currentColor;
  font-size: 20px;
}
svg:not(:root) {
  overflow: hidden;
}
.title{
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  text-transform: uppercase;
  color: $brown;
}
