.button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding: 4px 28px;
  border: 2px solid white;
  margin: 20px 0;
  font: 15px 'PT Sans', sans-serif;
  text-transform: uppercase;
  transition: 100ms ease-in;
  color: $brown1000;
  &__text {
  }

  &__outline {
    border: none;

    svg {
      margin-right: 8px;
    }
  }

  &__red {
    border: 2px solid $red;
    color: $red;

    &:hover {
      background: $red;
      color: white;
    }
  }
}

.phone-call {
  font-family: "PT Sans";
  display: flex;
  align-items: center;
  padding: 5px 14px;
  background: $brown200;
  font-weight: bold;
  color: $brown;
  text-transform: uppercase;
  transition: 150ms ease-in background;
  &:hover {
    background: $brown;
    color: white;
    .icon {
      margin-right: 10px;
      color: white;
      transition: 150ms ease-in background;

      path {
        fill: white;
      }
    }
  }

  .icon {
    margin-right: 10px;
  }
}

.btn-link {
  display: flex;
  align-items: center;
  padding: 10px;
  color: $brown50;
  font-weight: bold;
  span {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 1px;
  }
  &:hover {
    color: $brown;
    span {
      color: $brown;
    }
    .icon {
      transition: 10ms ease-in all;
      animation-name: linkbtn;
      animation-duration: 1s, 2s;
      animation-iteration-count: 4;
    }

  }
}

@keyframes linkbtn {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }

}
