.promo{
  margin-bottom: 10px;
}
.wrapper-banner{
  display: flex;
  justify-content: space-between;
}
.banner{
  margin: 20px 20px 20px 0;
  box-shadow: 0 4px 8px rgba(70, 33, 38, 0.1);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  img {
    transition: 500ms ease-in all;
    width: 100%;
    min-height: 400px;
  }
  &:hover{
    background: $grey;
    img{
      //transform: scale(1.05);
    }
    h3{
      transition: 500ms ease-in all;
      background: $grey;
    }
    .btn-link{
      color: $brown;
    }
  }
  h3{
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    padding: 10px;
    line-height: 31px;
    text-transform: uppercase;
    color: $brown;
    z-index: 1;
    text-shadow: 0px 4px 8px rgba(70, 33, 38, 0.3);
    transform: translate(25px, 150px);
    max-width: 265px;
  }
  &:last-child{
    margin-right: 0;
  }
}

.advantages{
  width: 100%;
  display: flex;
  margin: 150px 0;
  &__item{
    padding: 8px;
    width: 25%;
    text-align: center;
  }
  .icon{
    margin-bottom: 36px;
    color: $brown50;
    width: 116px;
    height: 116px;
  }
  &__title{
    margin-bottom: 30px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__text{
    font-size: 14px;
    color: $brown50;
  }
}
