$red: #E51937;


$brown:#462125;
$brown1000: #462126;
$brown900: #90444c;
$brown50: #B29683;
$brown100: #F6EFE7;
$brown200: #E6DCCE;
$brown300: #CDB99E;

$grey: #EEEEEE;

@keyframes scale {
  0%{
    transform: scale(0);
  }
  0%{
    transform: scale(0.1);
  }
}
